body.login {
  background-image: url('home-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
.login h1 a {
  background-image: url('');
}
.login #backtoblog a, .login #nav a {
    text-decoration: none;
    color: #fff;
}